*.jfm
*.suo
*.*proj.user
*.dbmdl
AdventureWorks/*.*
OrdersCube/*.*
OrdersReports/*.*
**/bin/*
**/obj/*
*.rdl.data
*.rds
Project.params
*.conmgr
TripodOrders/TripodOrders.database
TripodOrders/TripodOrders.partitions
